<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
 <p>
    Splurty was built by <a target="_blank" href="http://github.com/oubyes">Seybou</a>. An IT specialist who is passionate about SharePoint, programming and web development. 
  </p>
  <br />
  <p>
    He is currently working for a law firm while improving his programming skills.
  </p>
  <p>
    If you want to learn more about him you can follow him on twitter <a target="_blank" href="https://twitter.com/seybou"> here</a>.
  </p>

    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Seybou.JPG', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Seybou Allagouma</h2>
      <br />
      <p>
        Seybou Allagouma is an IT engineer and software programmer. He is currently working for a lawfirm as SharePoint Administrator; you can find his Linkedin <a target="_blank" href="https://www.linkedin.com/in/seybou-a-2926994/"> here</a>. In his spare time, he likes to run (road and trails) and cycle.
      </p>
    </div>
  </div>
  <br class="clear" />

</div>
<br class="clear" />
<br />
<br />
<br />
<br />